<div class="signup-box">
<div class="signup-container">
    <h1>Signup</h1>
    <form action="/signup" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" >
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" >
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" >
        <button type="submit" id="signup-button">Signup</button>
    </form>
    <a href="/login"><button  id="signup-button">Login</button></a>
</div>
</div>